/* CSS STYLING GOES HERE */
.cardContainer {
    height: 100%;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(170, 170, 170);
    padding: 5px;
}

.image {
    height: 50px;
    vertical-align: center;
    position: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    border-right-style: solid;
    border-right-color: rgb(100, 100, 100);


}

.cardInfo {
    display: inline-block;

}

.entry {
    margin: 0;
    padding: 0;
}