/* CSS STYLING GOES HERE */

.clock {
    padding-left: 75px;
}

.circle {
  width: 200px;
  height: 200px;
}

.main {
    width: 200px;
    border: 1px grey solid;
    padding: 5px;
}

.buttons {
    margin-left: 5px;
    text-align: center;
}

.button {
    display: inline-block;
    width: 80px;
    margin-right:5px;
}
